@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");



:root {
  --main-bg-color: whitesmoke;
  --font-color: #444;
}


/* Base Element Styling */
body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding-bottom:500px; /* for testing navbar */
}

/* font related */
body {
  /* letter-spacing: .1rem; */
  /* word-spacing: .1rem; */
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}


a {
	text-decoration: none;
	color: black;
}

/* delete when finished testing */
body {
	padding-bottom: 500px;
}

hr {
  margin:0;
  padding:0;
}

/* Set all images to fill/be controlled by their container, add a radius for enhanced fanciness  */
img {
  width:100%;
  border-radius: 10px;
}


 /* CONTENT AREA */
#content-wrapper {
    width: 95%;
    margin: auto;
    display: flex;
}

#col1 {
     /* border: solid 1px blue; */
    flex: 100%;
}




 
 

