<article class="article">
  <div class="article-content">
    <div class="article-content-section article-title">
      <a href="{{ include.item.url | relative_url }}">{{ include.item.title }}</a>
    </div>

    <div class="article-content-section article-summary">
      {% if include.is_excerpt %}
        {{ include.item.excerpt }}
      {% else %}
        {{ include.item.content }}
      {% endif %}
    </div>

    {% if include.is_excerpt %}
    <div class="article-content-section article-read-more">
      <a href="{{ include.item.url | relative_url }}"> - Read more - </a>
    </div>
    {% endif %}
  </div>
</article>

