@import url("/stylesheets/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

:root{
    line-height: 1.5;
    font-size: 125%; 
}

* {
    font-family:  'Inconsolata', monospace;
}

// NAVBAR
#nav_container {
    border: solid 1px black;
    display: flex; 
    flex-wrap: wrap;
    height: 2rem;
    align-content:  center;

}

.nav_item {
    padding-right: 1rem;
    font-weight: bold;
}

.nav_item > a {
    text-decoration: none;
}


// CONTENT AREA
#content-wrapper {
    width: 95%;
    margin: auto;
}

#column-wrapper{
    display: flex;
    width: 100%;
}
 

#col1 {
    // border: solid 1px blue;
    flex: 80%;
}

#col2 {
    // border: solid 1px orangered;
    flex: 20%;
}