<!doctype html>
<html>

<head>
  <%= partial "partials/header" %>
</head>

<body>
  <div id="content-wrapper">
    <%= partial "partials/navbar" %>

    <div id="column-wrapper">

      <div id="col1">
        <%= yield %>
      </div>


      <div id="col2">
        col2
      </div>
    </div>  

  </div>


<footer>
  <%= partial "partials/footer" %>
</footer>


</body>
</html> 