<ul id="nav_container">
  <li class="nav_item" id="nav-site-name"><a href="/">0foo.dev</a></li> 
  <li class="nav_item">|</li>
  <li class="nav_item"><a href="">Archives</a></li> 
  <li class="nav_item">|</li>
  <li class="nav_item"><a href="">About</a></li> 
</ul> 
<div id="nav-spacer"></div>