<article class="article">
    <div class="article-content">
        <div>
            <a  href="<%= article.url %>">
                <div class="">
                    <%= article.title %>
                </div>
            </a>
        </div>
        <div>
          <%= article.summary %>
        </div>

        <div class="article-read-more">
          <a href="<%= article.url %>"> - Read more - </a>
        </div>
    </div>
  </article>