<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Use the title from a page's frontmatter if it has one -->
<title></title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/code.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/content.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/768px.css">

