<ul id="nav_container">
    <li class="nav_item" id="nav-site-name">
      <a href="/">0foo.dev</a>
    </li> 
    <li class="nav_item nav_spacer">|</li>
    <li class="nav_item"><a href="">Archives</a></li> 
    <li class="nav_item nav_spacer">|</li>
    <li class="nav_item"><a href="/pages/about">About</a></li> 
    <li class="nav_item nav_spacer">|</li>
    <li class="nav_item">
      <div class="nav-img-wrapper">
        <a href="https://www.linkedin.com/in/nicholas-daniel-a7a324ba/"> <img  src="/images/LinkedIn_logo_initials.png"/> </a>
      </div>
    </li>
    <li class="nav_item">
      <div class="nav-img-wrapper">
        <a href="https://github.com/0foo"><img  src="/images/github-logo.png"/></a>
      </div>
    </li>
</ul> 
<div id="nav-spacer"></div>