

<article class="article">

    <div class="article-image">
        {% if page.image %}
        <img src="/images/{{ page.image }}"/> 
        {% else %}
        <img src="/images/dummy.png"/> 

        {% endif %}
    </div>

    <div class="article-content">
       
        <div class="article-content-section article-title">
            <a  href="{{ page.url }}">{{ page.title }}</a>
        </div>

        <div class="article-content-section article-summary">
            {% if include.is_excerpt %}
                {{ page.excerpt }}
            {% else %}
                {{ page.content }}
            {% endif %}
  
        </div>
        {% if include.is_excerpt %}
        <div class="article-content-section article-read-more">
          <a href="{{ page.url }}"> - Read more - </a>
        </div>
        {% endif %}
    </div>
  </article>
  



  