<!doctype html>
<html>

<head>
    {% include header.html %}
</head>

<body>
  
  {% include navbar.html %}

  <div id="content-wrapper">

    <div id="column-wrapper">

      <div id="col1">

        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
          {% include summary.html item=post is_excerpt="true" %}
          <hr class="article-separator"/>
        {% endfor %}
        
        {% include pagination.html %}
      </div>
    </div>  

  </div>


<footer>
</footer>


</body>
</html> 